<footer class="bg-black ">
    <div class="container text-white">
        <div class="text-center">
            <h2 class="">MoStore</h2>
            <div class="icons ">
                <a href=""> <i  class="fa-brands text-white fa-facebook mx-1 icon"></i></a>
                <a href=""> <i  class="fa-brands text-white fa-twitter mx-1 icon"></i></a>
                <a href=""> <i  class="fa-brands text-white fa-linkedin-in mx-1 icon"></i></a>
                <a href=""> <i  class="fa-solid text-white fa-globe mx-1 icon"></i></a>
            </div>
        </div>
        
    </div>
</footer>
<div class="Last bg-warning text-center">
    <span>Copyright © Eng-MohamedSalah</span>
   
</div>