section {
    background: linear-gradient(to bottom, #FFEFBA, #FFFFFF);
}
h3{
        font-family: "Poetsen One", sans-serif;
        font-weight: 400;
        font-style: normal;
}
i {
    font-size: 2rem;
    background-color: black;
    color: white;
}
.add img {
    position: absolute;
    top: 40%;
    bottom: 0;
    left: 25%;
    right: 0;
    transform: translateX(170%);
   
    transition: all 0.2s;
    cursor: pointer;
    width: 50%;

}
.card:hover .add img{
    transform: translateX(0);
    
    
}